.notifications-wrapper h1, .notifications-wrapper h3 {
    font-family: 'Quicksand';
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.notification {
    margin-bottom: 2rem;
}

#adoption_form_wrapper {
    text-align: center;
}

.badge {
    font-size: initial;
    font-weight: normal;
}

.form-field {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-field input[class="form-control"] {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.form-fingerprint:nth-child(even) {
    text-align: right;
}

.form-fingerprint:nth-child(odd) {
    text-align: left;
}

.form-fingerprint > img {
    width: 40px;
    opacity: 0.5;
}

.form-fingerprint:nth-child(even) > img {
    padding-right: 0.5rem;
}

.form-fingerprint:nth-child(odd) > img {
    padding-left: 0.5rem;
}

/* Pestañas de usuario */

#panel_de_usuario_wrapper > div {
    animation: fadeIn .5s;
}

.tab-pane {
    padding-left: 0;
    padding-right: 0;
}

.custom-modal-animal-img-wrapper {
    width: 250px;
    height: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.custom-modal-animal-img-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* Administrador */

.datos-de-usuario img {
    width: 50px;
    border: 1px solid var(--default-border-color);
    border-radius: 50%;
}

.datos-de-usuario span {
    font-weight: bold;
}

.datos-de-usuario img {
    width: 100px;
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

#panel_administrativo_wrapper > div {
    animation: fadeIn .5s;
}

#aprobar_comentarios > .comment-wrapper:not(:last-child) {
    margin-bottom: 2rem;
}

.listado-publicaciones {
    text-align: center;
    background-color: transparent;
}

.listado-publicaciones ul, .listado-publicaciones ul > li {
    background-color: transparent;
    padding: 0.2rem;
}

.listado-publicaciones a {
    color: initial;
}

.listado-publicaciones a:hover {
    text-decoration: underline;
}

.listado-publicaciones ul > li > button {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}

.listado-publicaciones ul > li:first-child {
    width: 20% !important;
}

.listado-publicaciones ul > li:nth-child(2) {
    width: 100% !important;
}

.listado-publicaciones ul > li:nth-child(3) {
    width: 60% !important;
}

.listado-publicaciones ul > li:nth-child(4) {
    width: 40% !important;
}

.listado-publicaciones ul > li:nth-child(5) {
    width: 40% !important;
}

/* Cuenta refugio */

.marco-formulario {
    border: 8px solid #CA8B4C;
    outline: 3px solid #83582f;
    border-radius: 0.5rem;
    overflow: hidden;
}

#contenido_formulario_preadopcion {
    text-align: center;
}

#contenido_formulario_preadopcion span {
    font-weight: bold;
}

#contenido_formulario_preadopcion img {
    width: 50px;
}

/* Lista de vacunas */

.lista-de-vacunas ul {
    font-size: 0.8rem;
}

.lista-de-vacunas ul > li:first-child {
    width: 100%;
    text-align: left;
}

.lista-de-vacunas ul > li:last-child {
    width: 50%;
}