.notifications-wrapper h1, .notifications-wrapper h3 {
    font-family: 'Quicksand';
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.notification {
    margin-bottom: 2rem;
}

#adoption_form_wrapper {
    text-align: center;
}

.badge {
    font-size: initial;
    font-weight: normal;
}

.form-field {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-field input[class="form-control"] {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.form-fingerprint:nth-child(even) {
    text-align: right;
}

.form-fingerprint:nth-child(odd) {
    text-align: left;
}

.form-fingerprint > img {
    width: 40px;
    opacity: 0.5;
}

.form-fingerprint:nth-child(even) > img {
    padding-right: 0.5rem;
}

.form-fingerprint:nth-child(odd) > img {
    padding-left: 0.5rem;
}